html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

body {
  color: #272727;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/bc-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 793px;
  background-position: center;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__top a {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  transition: all 0.3s;
  text-transform: uppercase;
}

.menu li + li {
  margin-left: 50px;
}
.menu a {
  opacity: 0.5;
}
.menu a:hover {
  opacity: 1;
}

.menu__list-items {
  display: flex;
}

.user__nav a + a {
  margin-left: 43px;
  color: #250f8a;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 43px;
}

.header-slider {
  margin-top: 140px;
}
.header-slider__item-content {
  display: flex;
  color: white;
}
.header-slider__item-info {
  margin-right: 66px;
  max-width: 505px;
}
.header-slider__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 10px;
}
.header-slider__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  margin-bottom: 60px;
}
.header-slider__btn {
  color: #250f8a;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 13px 39px;
  background: #ffca00;
  border-radius: 25px;
}

.header-dots {
  position: absolute;
  right: 0;
  top: 27%;
}
.header-dots button {
  border: none;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 3.5px;
  font-size: 0;
  height: 7px;
  width: 7px;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.header-dots .slick-active button {
  opacity: 1;
  width: 15px;
}

.title {
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
}

.specialised {
  padding: 55px 0 93px;
  background-image: url(../images/bc-sp.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.specialised__title {
  text-align: center;
  margin-bottom: 96px;
}
.specialised__items {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}
.specialised__item {
  margin-left: 70px;
  text-align: center;
}
.specialised__item-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 11px;
}
.specialised__item-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #272727;
  opacity: 0.7;
}

.advantages {
  background-color: #f4f9fd;
  padding-top: 64px;
}
.advantages-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}
.advantages-box__info {
  max-width: 455px;
  padding-left: 48px;
  padding-top: 60px;
  background-image: url(../images/title-bc-1.svg);
  background-repeat: no-repeat;
  background-position: 22px 76px;
}
.advantages-box__title {
  padding-bottom: 21px;
  color: #202020;
  padding: 68px 0 27px;
}
.advantages-box__text {
  max-width: 420px;
  color: #272727;
}
.advantages-box__text p {
  margin: 15px 0;
}

.advantages-box--right .advantages-box__info {
  order: 1;
  background-image: url(../images/title-bc-2.svg);
  background-position: 22px 76px;
}

.advantages-box--left .advantages-box__info {
  background-image: url(../images/title-bc-3.svg);
  background-position: 22px 76px;
}

.advantages-box--left {
  padding-bottom: 55px;
}

.reviews {
  padding: 40px 115px 82px;
  background-image: url(../images/bc-review.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews__title {
  color: white;
  text-align: center;
  margin-bottom: 48px;
}
.reviews__blog-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}
.reviews__blog-item {
  padding: 35px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.reviews__item-top {
  display: flex;
  color: #ffffff;
  margin-bottom: 54px;
}
.reviews__item-img {
  margin-right: 20px;
}
.reviews__item-title {
  font-weight: 600;
}
.reviews__item-text {
  opacity: 0.5;
  font-weight: 400;
}
.reviews__item-content {
  color: white;
  text-align: center;
  position: relative;
}
.reviews__item-content::before {
  content: "";
  background-image: url(../images/review-quo.png);
  position: absolute;
  width: 18px;
  height: 15px;
  right: 45%;
  top: -25px;
}

.reviews__blog-item + .reviews__blog-item {
  margin-left: 20px;
}

.footer {
  height: 61px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 39px;
  align-items: center;
}
.footer a + a {
  margin-left: 27px;
}

@media (max-width: 924px) {
  .header__top {
    flex-wrap: wrap;
  }

  .user__nav {
    width: 100%;
    text-align: right;
  }
  .user__nav a + a {
    margin-left: 30px;
  }
}
@media (max-width: 570px) {
  .menu___list-items {
    display: none;
  }
  .menu__btn {
    width: 30px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  .menu__btn span {
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: #fff;
    position: absolute;
  }
  .menu__btn::before {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }
  .menu__btn::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
  }
}
